[project]
	description = static slideshow generator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ElfeXu
[access "refs/for/refs/*"]
	read = group user/ElfeXu
	push = group user/ElfeXu
	label-Code-Review = -2..+2 group user/ElfeXu
	label-Verified = -1..+1 group user/ElfeXu
	rebase = group user/ElfeXu
	removeReviewer = group user/ElfeXu
	submit = group user/ElfeXu
[access "refs/heads/*"]
	read = group user/ElfeXu
	create = group user/ElfeXu
	push = +force group user/ElfeXu
	pushMerge = group user/ElfeXu
[access "refs/tags/*"]
	push = +force group user/ElfeXu
	pushTag = group user/ElfeXu
	pushSignedTag = group user/ElfeXu
